/* https://coolors.co/26547c-ef476f-ffd166-06d6a0-fffcf9-34090f-c45a6d-62bec1 */
:root {
    --economy: #ef476f;
    --mainbg: #fffcf9;
    --mainfontcolor: #2c3e50;
    --mainselection: #fd746c;
    --mainhighlight: #62bec1;
}